{% extends 'base.html' %}
{% load static %}

{% block title %} Candle Shop SPB {% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'myapp/index/indexICO.png' %}"/>
{% endblock %}

{% block main %}
    <h4>
        Арома масла
    </h4>
    <div class="flex-index index-container">
        <figure class="index-figure">
            <img src="{% static 'myapp/foto_aroma_oil/1.jpg' %}" alt="img">
            <figcaption></figcaption>
        </figure>
        <figure class="index-figure text-oil">
            <h6>1) Цитрус и Агава</h6>
            <h6>2) День в СПА</h6>
            <h6>3) Египетская амбра</h6>
            <h6>4) Английский сад</h6>
            <h6>5) Лаванда</h6>
            <h6>6) Магнолия и Пионы</h6>
            <h6>7) Манго и Кокосовое молочко</h6>
            <h6>8) Свежесрезанная трава</h6>
            <h6>9) Розовые кристаллы сахара</h6>
            <h6>10) Среднеземноморский инжир</h6>
            <figcaption></figcaption>
        </figure>
        <figure class="index-figure text-oil">
            <h6>11) Клубничная гуава</h6>
            <h6>12) Бобы тонка и Удовое дерево</h6>
            <h6>13) Ананас Шалфей</h6>
            <h6>14) Морские минералы</h6>
            <h6>15) Белая береза</h6>
            <h6>16) Белая смородина</h6>
            <h6>17) Табак, Ваниль</h6>
            <h6>18) Апельсин, Жасмин, Ваниль</h6>
            <h6>19) Табак, Бергамот</h6>
            <h6>20) Ветивер, Лимон, Бергамот</h6>
            <figcaption></figcaption>
        </figure>
        <figure class="index-figure text-oil">
            <h6>20) Ветивер, Лимон, Бергамот</h6>
            <h6>21) Черный перец, Амбра, Нероли</h6>
            <h6>22) Пихта Фразера</h6>
            <h6>23) Рождественский очаг</h6>
            <h6>24) Рождественское дерево</h6>
            <h6>25) Рождественская ель</h6>
            <h6>26) Глинтвейн</h6>
            <h6>27) Альпийский бальзам</h6>
            <h6>28) Ваниль</h6>
            <h6>29) Клубника</h6>
            <figcaption></figcaption>
        </figure>

    </div>
    <div>
        <h4>Целебные свойства эфирных масел</h4>
        <p class="paragraph">
            Стресс. Эфирные масла снимают нервное напряжение, успокаивают ум и тело. Доказано, что ароматерапия с
            некоторыми из них уменьшает уровень кортизола — гормона стресса. Особенно полезна лаванда: в японском
            исследовании уже через 10 минут испытуемые получили расслабляющий эффект. Можно приобрести масло Гровели
            Ботаник или соль-пену с лавандой Свежая Косметика. Еще похожим действием обладают жасмин, сандал, пачули.
            <br>Апатия, упадок сил. Масла могут не только расслаблять, но и тонизировать, бодрить, повышать концентрацию
            внимания. Нужный эффект дадут розмарин, базилик, гвоздика.
            <br>Низкий иммунитет. Ароматерапия эфирными маслами помогает укрепить естественную защиту организма, пережить
            без болезней сезон простуд и быстрее выздороветь, если уже заболели. Выбирайте имбирь, который обладает
            противовирусными свойствами, или можжевельник с его противобактериальным эффектом. Еще подойдут кедр,
            розмарин, сосна.
            <br>Бессонница. Есть масла, которые оказывают седативное действие. Они являются натуральным способом улучшения
            сна. Например, мелисса, иланг-иланг, бергамот.
            <br>Головные боли. Некоторые масла обладают обезболивающими, спазмолитическими свойствами, могут облегчать
            головокружение, тошноту, мигрени. Среди них мята, лимон, эвкалипт.
            <br>Ломкие волосы. Эфирные масла не только оздоравливают, но и помогают решить эстетические проблемы, например
            стимулируют рост волос, восстанавливают их структуру, придают блеск, увлажняют. Герань предотвращает
            повреждения, жожоба устраняет сухость и перхоть. Еще больше о пользе для шевелюры можно почитать в этой
            статье.
            <br>Сухая, проблемная кожа. Если добавить пару капель масла в крем для лица и тела, можно усилить эффект
            косметики. Например, апельсин питает, выравнивает рельеф. Чайное дерево оказывает антибактериальное
            действие, борется с воспалениями. Пачули увлажняет и возвращает упругость.
        </p>
    </div>
{% endblock %}